.ar{
  direction: rtl;
}
.ar .main-banner-content {
  margin-right: auto;
}
.ar .list-unstyled {
  padding-right: 0;
  list-style: none;
}
@media (min-width: 768px)
{
  .ar .offset-md-2 {
    margin-right: 16.6666666667%;
    margin-left: 0;
 }
}
.ar .single-pricing-box .pricing-features {
  padding-right: auto;
}
@media (min-width: 768px)
{
 .ar .offset-md-3 {
  margin-right: 25%;
  margin-left: 0;
}
}
.ar .logo{
  text-align: left;
}
.ar  .mean-container .mean-nav ul li a
{
  text-align: right;
}